<div class="index-content-wrap rt-wrap">
    
    <div class="index-header-ad">
        <div style="position: relative; width: 230px; height: 26px;">
            <div 
                data-index="2" 
                style="position: absolute; inset: 0px; z-index: 0;">
                <a 
                    href="https://pub.ruten.com.tw/familyactivities/" 
                    _xhref="https://ahd.ruten.com.tw/delivery/ck.php?oaparams=2__bannerid=264710__zoneid=676__source=home__cb=29b2869c3e__maxdest=https%3A%2F%2Fpub.ruten.com.tw%2Ffamilyactivities%2F" 
                    target="_blank" 
                    class="docs-creator">
                    <img 
                        src="https://c.rimg.com.tw/ahd/23026_1630580825.jpg" 
                        width="230" 
                        height="26" 
                        alt="" 
                        title="" 
                        ></a>
            </div>
            <div 
                data-index="0" 
                style="position: absolute; inset: 0px; z-index: 0;">
                <a 
                    href="https://pub.ruten.com.tw/fubon/" 
                    _xhref="https://ahd.ruten.com.tw/delivery/ck.php?oaparams=2__bannerid=264495__zoneid=676__source=home__cb=92e165b23b__maxdest=https%3A%2F%2Fpub.ruten.com.tw%2Ffubon%2F" 
                    target="_blank" class="docs-creator">
                    <img 
                        src="https://d.rimg.com.tw/ahd/23026_1630463516.jpg" 
                        width="230" 
                        height="26" 
                        alt="" 
                        title=""></a>
            </div>
            <div 
                data-index="1" 
                style="position: absolute; inset: 0px; z-index: 0;">
                <a 
                    href="https://pub.ruten.com.tw/99_sale/" 
                    _xhref="https://ahd.ruten.com.tw/delivery/ck.php?oaparams=2__bannerid=265712__zoneid=676__source=home__cb=006f2fc349__maxdest=https%3A%2F%2Fpub.ruten.com.tw%2F99_sale%2F" 
                    target="_blank" 
                    class="docs-creator">
                    <img 
                        src="https://c.rimg.com.tw/ahd/23026_1631839944.jpg" 
                        width="230" 
                        height="26" 
                        alt="" 
                        title=""></a>
            </div>
        </div>
    </div>

    <aside 
        id="exclusiveStorePlaceholder" 
        class="rt-exclusive-store">
        <div id="exclusiveStoreTabs">
            <div class="rt-exclusive-store">
                <h2 class="rt-exclusive-store-heading">
                    <span>今日熱搜</span></h2>
                <div class="rt-exclusive-store-list">
                    <ul class="promo-bar">
                    <li class="cp promoAd"><h3><a target="_blank" href="https://www.ruten.com.tw/event/top_search.php?id=1&amp;type=手機通訊" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=07e902ea4b4827016131525c02bacf07.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://www.ruten.com.tw/event/top_search.php?id=2&amp;type=生活居家" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=37c41b0854894163d3eae1dbe100beea.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://www.ruten.com.tw/event/top_search.php?id=3&amp;type=交通休閒" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=02528e4073b2fa8ad3808032d05b5cdc.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://www.ruten.com.tw/event/top_search.php?id=5&amp;type=電腦電器" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=a5231e201f0619e5fd7c12ebcc0e78ba.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://pub.ruten.com.tw/99_sale/" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=ee8dcac9e2ec148a3a6ba19d2f3dcdb1.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://pub.pchomeus.com/ebayspecial/index.html" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=12eca2dd0843cacaaa96c131da37572e.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://pub.ruten.com.tw/outdoors/" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=44cfe9287692d6c6b332cde0de372240.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://pub.pchomeus.com/gmarket/index.html" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=3c46862af07c2f88a1c9360bc7ec065e.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://www.ruten.com.tw/store/54506580" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=edc3fe5bc8b9f97e78f7d9b627882f2f.jpg&amp;v=20210922000201"></a></h3></li>
                    <li class="cp promoAd"><h3><a target="_blank" href="https://www.ruten.com.tw/store/car380101" class="docs-creator"><img src="https://www.ruten.com.tw/resource/loader.php?folder=component/theme/&amp;file=56175d199d46be08f0fd8ac2791c4daf.jpg&amp;v=20210922000201"></a></h3></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>

    <app-rt-sidebar></app-rt-sidebar>
    <app-main-container></app-main-container>


</div>
