<div class="fk-sidebar-hotzone-container">
    <ul class="fk-sidebar-hotzone-menu-ul">
        <li class="fk-sidebar-hotzone-menu-li">
            <a href="">
                <img src="/assets/images/ahd/18323-1_1630580786.jpg" alt="">
            </a>
        </li>
        <li class="fk-sidebar-hotzone-menu-li">
            <a href="">
                <img src="/assets/images/ahd/183x23_-3_1627545657.jpg" alt="">
            </a>
        </li>
        <li class="fk-sidebar-hotzone-menu-li">
            <a href="">
                <img src="/assets/images/ahd/183x23_1625047634.jpg" alt="">
            </a>
        </li>
        <li class="fk-sidebar-hotzone-menu-li">
            <a href="">
                <img src="/assets/images/ahd/18323-2_1620695433.jpg" alt="">
            </a>
        </li>
        <li class="fk-sidebar-hotzone-menu-li">
            <a href="">
                <img src="/assets/images/ahd/183x23_1630463317.jpg" alt="">
            </a>
        </li>
    </ul>
    
</div>