<div class="rt-header-top">
    <div class="rt-header-inner">
        <div class="rt-header-part">
            <ul class="ur-header-topnav">
                <li class="rt-header-topnav-item">
                    <a 
                        href="https://www.ruten.com.tw/system/notice.php" 
                        class="rt-header-topnav-link docs-creator"
                        target="_blank"
                        title="前往公告區">公告</a>
                </li>
                <li class="rt-header-topnav-item rt-header-dropdown-wrap">
                    <a 
                        href="https://www.ruten.com.tw/system/index.html" 
                        class="rt-header-topnav-link rt-header-dropdown-cion docs-creator"
                        title="前往露天拍賣客戶服務中心"
                        >客服中心</a>
                        <div class="rt-header-dropdown">
                            <ul class="rt-header-dropdown-menu">
                                <li class="dropd0wn-menu-item">
                                    <a 
                                        href="https://www.ruten.com.tw/system/index.html" 
                                        class="dropdown-menu-link docs-creator"
                                        title="客服中心">客服中心</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a 
                                        href="https://mybid.ruten.com.tw/daigou/case_list.php" 
                                        class="dropdown-menu-link docs-creator"
                                        title="海外代購售後服務">海外代購售後服務</a>
                                </li>
                            </ul>
                        </div>
                </li>
                <li class="rt-header-topnav-item">
                    <a 
                        href="https://seller.ruten.com.tw" 
                        class="rt-header-topnav-link docs-creator"
                        title="前往露天拍賣賣家中心">賣家中心</a>
                </li>
            </ul>
        </div>
        <div class="rt-header-part">
            <div class="rt-header-daigou">
                <a 
                    href="https://pub.pchomeus.com/ebayglobal-day/index.html" 
                    class="rt-header-topnav-link rt-header-daigou-ebay docs-creator"
                    title="前往海外代購EBAY專頁"></a>
            </div>
            <div class="rt-header-daigou">
                <a 
                    href="https://pub.pchomeus.com/gmarket/index.html" 
                    class="rt-header-topnav-link rt-header-daigou-gmarket docs-creator"
                    title="前往海外代購Gmarket專頁"></a>
            </div>
            <div class="rt-header-daigou">
                <a 
                    href="https://pub.pchomeus.com/ebayJP/index.html" 
                    class="rt-header-topnav-link rt-header-daigou-ebayJP docs-creator"
                    title="前往海外代購日本直送專頁"></a>
            </div>
            <div 
                id="header_login_info"  
                class="rt-header-login rt-header-top-divider is-loaded">
                <div class="rt-header-loading" title="執行中，請稍候">
                    <span class="rt-header-loading-icon"></span>
                </div>
                <div class="rt-header-loaded rt-header-dropdown-wrap">
                    <a  
                        id="header_user_nick"
                        href="#" 
                        class="rt-header-topnav-link rt-header-dropdown-icon rt-header-user-nick rt-align-right docs-creator"
                        title="前往個人賣場">{{UserId}}</a>
                    <div class="rt-header-dropdown">
                        <ul class="rt-header-dropdown-menu">
                            <li class="dropdown-menu-item">
                                <a 
                                    id="header_user_store"
                                    href="#" 
                                    class="dropdown-menu-link docs-creator"
                                    title="前往個人賣場">我的賣場</a>
                            </li>
                            <li class="dropdown-menu-item">
                                <a 
                                    id="header_credit_user_nick"
                                    href="#" 
                                    class="dropdown-menu-link docs-creator"
                                    title="前往評價頁">我的評價</a>
                            </li>
                            <li class="dropdown-menu-item dropdown-menu-logout">
                                <a 
                                    id="header_logout_link"
                                    href="https://member.ruten.com.tw/user/logout.php" 
                                    class="dropdown-menu-link dropdown-menu-logout-link docs-creator"
                                    title="登出頁面" 
                                    data-type="logout-link">登出</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rt-header-not-loaded">
                    <div class="rt-header-login-item">
                        <a 
                            href="https://member.ruten.com.tw/user/register_step1.htm" 
                            class="rt-header-topnav-link docs-creator"
                            rel="nofollow"
                            title="免費註冊">免費註冊</a>
                    </div>
                    <div class="rt-header-login-item">
                        <a 
                            href="https://member.ruten.com.tw/user/login.htm" 
                            class="rt-header-topnav-link docs-creator"
                            rel="nofollow"
                            title="登入頁面">登入</a>
                    </div>
                </div>
                <div class="rt-header-error">
                    <div class="rt-header-login-item">
                        <a 
                            href="https://member.ruten.com.tw/user/login.htm" 
                            class="rt-header-topnav-link docs-creator"
                            rel="nofollow" 
                            title="登入頁面">登入</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
