<div class="fk-main-ad">
    <div class="fk-main-ad-wrap">
        <h2 class="fk-main-ad-heading">
            <span>今日特搜</span>
            <div class="fk-main-ad-heading-icon">                
            </div>
            <i class="fa fa-play small"></i>
        </h2>        
        <div class="fk-main-ad-list">
            <div class="fk-main-ad-list-item">
                <a href="" target="_blank">
                    <img src="assets/images/ahd/23026_1631839944.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>